@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 68, 102;
  --background-end-rgb: 153, 230, 179;
  --surprise-tint: rgba(241, 189, 78, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 60, 60, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    ),
    var(--surprise-tint);
}
nav {
  max-width: 5xl;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(to right, teal, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  gap: 1rem;
  color: white;
  font-weight: 600;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}
footer {
  background-color: transparent;
}

header h1 {
  background-image: linear-gradient(to right, teal, purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p {
  background-image: linear-gradient(to right, teal, purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
