@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: -webkit-linear-gradient(to right, teal, purple);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 68, 102;
  --background-end-rgb: 153, 230, 179;
  --surprise-tint: rgba(241, 189, 78, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 60, 60, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--gradient), var(--surprise-tint);
  font-family: roboto;
  font-size: 100px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

p {
  margin-bottom: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: white;
}

footer {
  background-color: transparent;
}

footer p {
  background-image: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
